In [2]:
import pandas as pd
import numpy as np

from datetime import datetime

%matplotlib inline
pd.set_option('display.max_rows', 500)

![CRISP_DM](CRISP_DM.png )

# Groupby apply on large (relational) data set

In [3]:
pd_JH_data=pd.read_csv('../data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
pd_JH_data=pd_JH_data.sort_values('date',ascending=True).reset_index(drop=True).copy()
pd_JH_data.head()

        date    state       country  confirmed
0 2020-01-22  Alberta        Canada        0.0
1 2020-01-22       no  Korea, South        1.0
2 2020-01-22       no        Kosovo        0.0
3 2020-01-22       no        Kuwait        0.0
4 2020-01-22       no    Kyrgyzstan        0.0

In [4]:
temp = pd.read_csv('../data/external/202004_covid19countryinfo_clean.csv',sep=';',parse_dates=[0])

In [5]:
temp

,country,pop,density,medianage,urbanpop,quarantine,schools,publicplace,hospibed,smokers,...,sexratio,lung,femalelung,malelung,gdp2019,healthexp,healthperpop,fertility,avgtemp,avghumidity
0,Afghanistan,"38,928,346",60.0,18.0,25.0,NaN,NaN,NaN,0.5000,NaN,...,1.03,37.62,36.31,39.33,"18,734",184,4.726633,5.12,6.216667,56.933333
1,Albania,"2,877,797",105.0,36.0,63.0,NaN,NaN,NaN,2.9000,29.40,...,0.98,11.67,7.02,17.04,"15,418",774,268.955733,1.51,13.950000,69.900000
2,Algeria,"43,851,044",18.0,29.0,73.0,NaN,NaN,NaN,1.9000,NaN,...,1.03,8.77,5.03,12.81,"172,781","1,031",23.511413,2.70,19.566667,61.716667
3,Andorra,"77,265",164.0,45.0,88.0,NaN,NaN,NaN,2.5000,32.50,...,1.06,NaN,NaN,NaN,"91,527","5,949",76994.758300,1.40,7.383333,75.233333
4,Antigua and Barbuda,"97,929",223.0,34.0,26.0,NaN,NaN,NaN,3.8000,NaN,...,0.90,11.76,7.67,18.78,"1,688","1,105",11283.685120,2.00,NaN,NaN
5,Argentina,"45,195,774",17.0,32.0,93.0,3/20/2020,NaN,NaN,5.0000,23.95,...,0.98,29.27,20.16,42.59,"445,469","1,390",30.755088,2.26,32.816667,43.616667
6,Armenia,"2,963,243",104.0,35.0,63.0,NaN,NaN,NaN,4.2000,26.90,...,0.94,23.86,16.17,35.99,"13,444",883,297.984337,1.64,7.100000,58.500000
7,Australia,"25,499,884",3.0,38.0,86.0,NaN,NaN,3/23/2020,3.8000,14.90,...,0.99,18.79,15.90,22.16,"1,376,255","4,492",176.157664,1.77,25.783333,64.233333
8,Austria,"9,006,398",109.0,43.0,57.0,3/16/2020,NaN,NaN,7.6000,35.15,...,0.96,17.02,13.02,22.14,"447,718","5,138",570.483339,1.47,9.466667,65.350000
9,Azerbaijan,"10,139,177",123.0,32.0,56.0,NaN,NaN,NaN,4.7000,23.45,...,0.98,20.61,14.07,29.32,"47,171","1,191",117.465155,1.89,10.166667,68.083333
10,Bahamas,"393,244",39.0,32.0,86.0,NaN,NaN,NaN,2.9000,NaN,...,0.96,6.29,3.35,10.43,12160,"1,699",4320.472785,1.94,23.266667,76.550000
11,Bahrain,"1,701,575",2239.0,32.0,89.0,NaN,NaN,NaN,6.8000,13.60,...,NaN,18.37,13.83,22.39,"38,184","2,453",1441.605571,1.75,20.366667,63.516667
12,Bangladesh,"164,689,383",1265.0,28.0,39.0,NaN,NaN,NaN,0.8000,20.25,...,0.97,69.07,61.70,76.24,"317,465",88,0.534339,2.17,30.283333,42.350000
13,Barbados,"287,375",668.0,40.0,31.0,NaN,NaN,NaN,5.8000,7.00,...,0.94,9.65,6.15,14.54,"5,189","1,234",4294.040887,1.68,26.900000,74.950000
14,Belarus,"9,449,323",47.0,40.0,79.0,NaN,NaN,NaN,11.0000,28.40,...,0.87,9.46,2.83,21.51,"62,572","1,085",114.823041,1.48,3.983333,81.483333
15,Belgium,"11,589,623",383.0,42.0,98.0,3/18/2020,NaN,NaN,6.2000,23.25,...,0.97,27.11,21.20,34.98,"517,609","4,782",412.610488,1.78,9.533333,78.416667
16,Belize,"397,628",17.0,24.0,46.0,NaN,NaN,NaN,1.3000,13.30,...,1.03,43.36,24.41,60.89,"348,400",524,1317.814641,2.30,NaN,NaN
17,Benin,"12,123,200",108.0,19.0,48.0,NaN,NaN,NaN,0.5000,9.35,...,1.01,29.33,25.16,34.86,"14,374",84,6.928864,4.77,35.133333,69.000000
18,Bhutan,"771,608",20.0,28.0,46.0,NaN,NaN,NaN,1.7000,28.20,...,1.09,71.93,72.27,71.82,"2,842",287,371.950524,1.90,8.866667,73.683333
19,Bolivia,"11,673,021",11.0,26.0,69.0,NaN,NaN,NaN,1.1000,23.80,...,0.98,18.42,14.59,22.79,"42,401",446,38.207761,2.63,20.300000,70.700000
20,Bosnia and Herzegovina,"3,280,819",64.0,43.0,52.0,NaN,NaN,NaN,3.5000,38.60,...,0.95,18.48,12.88,26.05,"20,106","1,102",335.891739,1.30,7.966667,81.716667
21,Brazil,"212,559,417",25.0,33.0,88.0,NaN,NaN,NaN,2.2000,15.30,...,0.97,26.57,19.71,35.83,"1,847,020","1,392",6.548757,1.75,25.816667,81.683333
22,Brunei,"437,479",83.0,32.0,80.0,NaN,NaN,NaN,2.7000,16.20,...,0.98,33.05,27.66,41.12,"12,455","2,083",4761.371403,1.78,29.183333,81.750000
23,Bulgaria,"6,948,445",64.0,45.0,76.0,NaN,NaN,NaN,6.8000,35.30,...,0.95,19.79,13.98,27.92,"66,250","1,492",214.724302,1.46,9.300000,73.533333
24,Burkina Faso,"20,903,273",76.0,18.0,31.0,NaN,NaN,NaN,0.4000,20.25,...,0.99,19.38,16.70,23.65,"14,593",96,4.592582,5.71,37.750000,10.983333
25,Cabo Verde,"554,441",138.0,27.6,68.0,NaN,NaN,NaN,2.1000,17.60,...,0.94,18.77,14.18,26.01,"175,900",310,559.121710,2.29,NaN,NaN
26,Cambodia,"16,718,965",95.0,26.0,24.0,NaN,NaN,NaN,0.8000,23.45,...,0.94,34.21,30.47,39.66,"26,730",210,12.560586,2.52,35.450000,55.516667
27,Cameroon,"26,545,863",56.0,19.0,56.0,NaN,NaN,NaN,1.3000,22.35,...,1.01,24.85,19.94,30.60,"38,632",163,6.140316,4.64,35.116667,65.416667
28,Canada,"37,742,154",4.0,41.0,81.0,NaN,3/15/2020,3/20/2020,2.7000,14.95,...,0.98,19.01,16.95,21.55,"1,730,914","4,600",121.879636,1.60,-1.866667,88.583333
29,Central African Republic,"37,742,154",8.0,18.0,43.0,NaN,NaN,NaN,1.0000,6.60,...,0.98,41.66,35.93,48.90,"2,321",32,0.847858,4.30,40.150000,33.900000
30,Chad,"16,302,699",13.0,16.6,23.3,NaN,NaN,NaN,0.4000,6.80,...,0.93,22.93,19.66,26.79,"11,026",36,2.208000,5.80,NaN,NaN
31,Chile,"19,116,201",26.0,35.0,85.0,NaN,NaN,NaN,2.2000,38.00,...,0.97,14.84,12.24,18.58,"294,237","1,903",99.549068,1.80,25.866667,36.433333
32,China,"1,439,323,776",153.0,38.0,61.0,NaN,1/26/2020,1/26/2020,4.2000,24.70,...,1.06,63.10,56.35,70.52,"14,140,163",762,0.529415,1.60,9.900000,39.033333
33,Colombia,"50,882,891",46.0,31.0,80.0,3/25/2020,NaN,NaN,1.5000,11.10,...,0.98,36.30,31.33,42.49,"327,895",853,16.763985,2.00,21.100000,79.700000
34,Congo (Brazzaville),"5,518,087",16.0,19.0,70.0,NaN,NaN,NaN,1.6000,NaN,...,1.00,29.04,24.91,34.09,"48,994",34,6.161556,4.39,33.083333,69.266667
35,Congo (Kinshasa),"89,561,403",40.0,17.0,46.0,NaN,NaN,NaN,1.6000,NaN,...,1.01,29.06,24.88,34.05,"11,576",203,2.266601,4.59,NaN,NaN
36,Costa Rica,"5,094,118",100.0,33.0,80.0,NaN,NaN,NaN,1.2000,13.40,...,1.01,20.42,17.65,23.65,"61,021","1,286",252.448019,1.89,NaN,NaN
37,Cote d'Ivoire,"26,378,274",83.0,19.0,51.0,NaN,NaN,NaN,0.4000,NaN,...,1.02,34.56,29.51,38.83,"44,439",190,7.202897,3.38,38.050000,53.933333
38,Croatia,"4,105,267",73.0,44.0,58.0,NaN,NaN,NaN,5.6000,36.45,...,0.93,21.75,14.54,32.70,"60,702","1,656",403.384238,1.40,11.883333,66.600000
39,Cuba,"11,326,616",106.0,42.0,78.0,NaN,NaN,NaN,5.2000,35.25,...,0.99,23.30,20.53,26.67,"100,023",131,11.565679,1.71,27.400000,77.000000
40,Cyprus,"1,207,359",131.0,37.0,67.0,NaN,NaN,NaN,3.4000,NaN,...,1.04,17.85,11.34,26.04,"24,280","2,137",1769.978937,1.47,15.416667,71.116667
41,Czechia,"10,708,981",139.0,43.0,74.0,3/17/2020,3/13/2020,3/13/2020,6.5000,NaN,...,0.97,19.68,13.10,28.54,"246,953","2,470",230.647528,1.45,7.883333,72.533333
42,Denmark,"5,792,202",137.0,42.0,88.0,3/16/2020,3/16/2020,NaN,2.5000,17.00,...,0.97,31.99,31.31,32.85,"347,176","5,083",877.559173,1.73,6.233333,81.683333
43,Diamond Princess,"3,500",25.0,62.0,100.0,NaN,NaN,NaN,13.4000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Djibouti,"988,000",43.0,27.0,79.0,NaN,NaN,NaN,2.2000,13.30,...,0.84,18.41,12.95,25.16,"3,166",147,148.785425,2.31,27.283333,70.666667
45,Dominica,71986,96.0,33.5,74.0,NaN,NaN,NaN,3.8000,3.70,...,1.02,NaN,NaN,NaN,593,586,8140.471758,1.90,NaN,NaN
46,Dominican Republic,"10,847,910",225.0,28.0,85.0,NaN,NaN,NaN,1.6000,14.10,...,1.03,11.43,9.50,13.57,"89,475",873,80.476331,2.29,NaN,NaN
47,Ecuador,"17,643,054",71.0,28.0,63.0,NaN,NaN,NaN,1.5000,8.65,...,0.99,24.07,18.85,30.17,"107,914",980,55.545939,2.19,19.266667,73.250000
48,Egypt,"102,334,404",103.0,25.0,43.0,NaN,NaN,NaN,1.6000,25.10,...,1.05,22.61,19.19,27.17,"302,256",495,4.837083,3.47,21.250000,52.083333
49,El Salvador,"6,486,205",313.0,27.6,73.4,3/12/2020,NaN,NaN,1.3000,6.70,...,0.93,13.86,12.35,15.84,"26,871",578,89.112200,2.05,NaN,NaN
50,Equatorial Guinea,"1,402,985",50.0,22.0,73.0,NaN,NaN,NaN,2.1000,NaN,...,0.99,41.24,32.00,50.58,"12,142",790,563.085136,4.39,28.666667,78.600000
51,Eritrea,"3,546,421",35.0,19.2,63.3,NaN,NaN,NaN,0.7000,NaN,...,0.97,27.14,19.48,38.19,"2,110",56,15.790567,4.10,NaN,NaN
52,Estonia,"1,326,535",31.0,42.0,68.0,NaN,NaN,NaN,5.0000,33.05,...,0.88,8.80,3.59,18.36,"31,038","1,887",1422.502987,1.60,3.233333,82.400000
53,Eswatini,"1,160,164",67.0,21.0,30.0,NaN,NaN,NaN,0.8000,34.10,...,1.00,53.05,39.63,71.93,"4,657",629,542.164728,2.69,27.450000,78.733333
54,Ethiopia,"114,963,588",115.0,19.0,21.0,NaN,NaN,NaN,0.3000,4.70,...,0.99,18.56,13.55,24.28,"91,166",66,0.574095,4.99,22.550000,56.416667
55,Fiji,"896,445",49.0,27.9,59.1,NaN,NaN,NaN,2.3000,25.55,...,1.03,15.86,8.67,24.21,"5,708",331,369.236261,2.79,NaN,NaN
56,Finland,"5,540,720",18.0,43.0,86.0,NaN,NaN,NaN,4.4000,20.85,...,0.97,9.92,5.47,15.97,"269,654","3,996",721.205908,1.75,2.800000,81.250000
57,France,"65,273,511",119.0,42.0,82.0,3/17/2020,3/16/2020,NaN,6.5000,27.70,...,0.96,13.15,9.64,17.69,"2,707,074","4,542",69.584123,2.07,11.266667,72.950000
58,Gabon,"2,225,734",9.0,23.0,87.0,NaN,NaN,NaN,6.3000,NaN,...,0.99,26.53,19.50,35.62,"16,877",481,216.108484,4.39,29.500000,77.433333
59,Gambia,"2,416,668",239.0,18.0,59.0,NaN,NaN,NaN,1.1000,NaN,...,0.98,29.20,24.19,34.04,"1,773",114,47.172388,3.52,29.450000,47.866667
60,Georgia,"3,989,167",57.0,38.0,58.0,NaN,NaN,NaN,2.6000,31.70,...,0.92,23.26,15.96,34.46,"15,925",718,179.987451,1.76,9.983333,58.983333
61,Germany,"83,783,942",240.0,46.0,76.0,3/21/2020,3/13/2020,NaN,8.3000,30.35,...,0.97,20.01,16.32,24.67,"3,863,344","5,357",63.938266,1.45,8.516667,74.216667
62,Ghana,"31,072,940",137.0,22.0,57.0,NaN,NaN,NaN,0.9000,6.75,...,0.97,21.09,17.95,25.11,"67,077",249,8.013403,4.00,31.433333,71.583333
63,Greece,"10,423,054",81.0,46.0,85.0,NaN,NaN,NaN,4.3000,42.65,...,0.95,20.62,18.30,23.49,"214,012","2,204",211.454340,1.43,14.933333,66.366667
64,Grenada,"112,523",331.0,32.0,35.5,NaN,NaN,NaN,3.7000,NaN,...,1.03,21.74,17.07,24.84,"1,238",677,6016.547728,2.07,-9.883333,73.616667
65,Guatemala,"17,915,568",167.0,23.0,52.0,NaN,NaN,NaN,0.6000,NaN,...,0.97,21.20,18.54,24.42,"81,318",444,24.782915,2.77,27.133333,72.950000
66,Guernsey,"70,000",965.0,44.0,86.0,NaN,NaN,NaN,1.8000,NaN,...,0.99,NaN,NaN,NaN,"13,368",NaN,69.584123,1.56,9.983333,78.616667
67,Guinea,"13,132,795",53.0,18.0,39.0,NaN,NaN,NaN,4.0242,NaN,...,1.00,25.37,24.24,26.70,"4,121",57,4.340279,4.77,28.666667,78.600000
68,Guinea-Bissau,"1,968,001",70.0,18.8,44.9,NaN,NaN,NaN,1.0000,NaN,...,0.96,26.93,24.56,29.26,"1,458",100,50.812982,4.51,NaN,NaN
69,Guyana,"786,552",4.0,27.0,27.0,NaN,NaN,NaN,1.6000,NaN,...,1.02,25.70,19.99,32.36,"4,725",336,427.180911,2.00,31.000000,77.883333
70,Haiti,"11,402,528",414.0,24.0,56.9,NaN,NaN,NaN,0.7000,12.30,...,0.98,25.53,20.86,31.37,"8,819",120,10.523982,2.96,NaN,NaN
71,Holy See,801,2003.0,40.0,100.0,NaN,NaN,NaN,5.0000,NaN,...,NaN,NaN,NaN,NaN,"21,198",NaN,55.423401,0.20,NaN,NaN
72,Honduras,"9,904,607",89.0,24.0,57.0,NaN,NaN,NaN,0.7000,17.70,...,1.01,21.39,22.03,20.76,"24,449",353,35.639980,2.67,28.483333,69.050000
73,Hungary,"9,660,351",107.0,43.0,72.0,NaN,NaN,NaN,7.0000,28.40,...,0.91,27.68,19.86,39.93,"170,407","1,912",197.922415,1.45,9.766667,64.733333
74,Iceland,"341,243",3.0,37.0,94.0,NaN,NaN,NaN,3.2000,16.05,...,1.01,19.71,20.44,18.65,"23,918","4,116",12061.785880,2.00,0.700000,74.733333
75,India,"1,380,004,385",464.0,28.0,35.0,3/25/2020,NaN,NaN,0.7000,11.15,...,1.08,96.92,87.54,106.89,"2,935,570",238,0.172463,2.43,26.533333,44.300000
76,Indonesia,"273,523,615",151.0,30.0,56.0,NaN,NaN,NaN,1.2000,39.90,...,1.00,36.26,23.54,51.83,"1,111,713",369,1.349061,2.11,32.916667,62.033333
77,Iran,"83,992,949",52.0,32.0,76.0,3/13/2020,3/5/2020,NaN,1.5000,11.10,...,1.03,18.84,16.47,20.99,"458,500","1,262",15.025071,1.97,11.916667,44.283333
78,Iraq,"40,222,493",93.0,21.0,73.0,NaN,NaN,NaN,1.4000,NaN,...,1.02,8.56,0.69,18.37,"224,462",481,11.958483,4.00,20.300000,41.766667
79,Ireland,"4,937,786",72.0,38.0,63.0,3/28/2020,3/13/2020,NaN,2.8000,22.15,...,1.00,24.92,23.02,27.25,"384,940","5,335",1080.443745,1.97,8.300000,80.083333
80,Israel,"8,655,535",400.0,30.0,93.0,3/19/2020,3/12/2020,3/15/2020,3.1000,30.25,...,1.01,16.10,12.81,20.23,"387,717","2,819",325.687551,2.64,13.766667,73.616667
81,Italy,"60,461,826",206.0,47.0,69.0,3/19/2020,3/4/2020,3/9/2020,3.4000,24.00,...,0.93,17.00,12.78,22.78,"1,988,636","3,351",55.423401,1.44,15.783333,64.783333
82,Jamaica,"2,961,167",273.0,31.0,55.0,NaN,NaN,NaN,1.7000,17.90,...,0.98,15.74,6.33,26.44,"15,702",511,172.567099,1.96,28.483333,74.266667
83,Japan,"126,476,461",347.0,48.0,92.0,NaN,3/2/2020,2/25/2020,13.4000,22.15,...,0.94,12.17,5.80,20.85,"5,154,475","4,405",34.828615,1.41,13.266667,51.000000
84,Jersey,"106,800",819.0,38.0,98.0,NaN,NaN,NaN,6.5000,23.40,...,0.97,NaN,NaN,NaN,"56,600",NaN,61.058235,1.66,9.900000,79.150000
85,Jordan,"10,203,134",115.0,24.0,91.0,NaN,NaN,NaN,1.4000,40.45,...,1.02,14.54,7.52,22.09,"44,172",568,55.669170,3.19,13.583333,70.250000
86,Kazakhstan,"18,776,707",7.0,31.0,58.0,NaN,NaN,NaN,6.7000,26.60,...,0.92,114.28,79.27,174.88,"170,326",903,48.091500,2.25,-4.816667,89.133333
87,Kenya,"53,771,296",94.0,20.0,28.0,NaN,3/15/2020,NaN,1.4000,13.35,...,1.00,19.15,14.92,24.16,"98,607",157,2.919773,2.98,26.133333,71.400000
88,"Korea, South","51,269,185",527.0,44.0,82.0,NaN,2/23/2020,NaN,11.5000,27.00,...,1.00,10.48,6.60,16.23,"1,629,532","2,556",49.854508,1.26,5.900000,63.483333
89,Kosovo,"1,810,463",159.0,29.0,65.0,NaN,NaN,NaN,6.7000,NaN,...,1.06,NaN,NaN,NaN,"7,996",177,97.765047,2.40,9.216667,74.683333
90,Kuwait,"4,270,571",240.0,37.0,92.0,NaN,NaN,NaN,2.0000,NaN,...,1.41,10.99,7.44,13.43,"137,591","2,978",697.330638,2.40,19.933333,49.783333
91,Kyrgyzstan,"6,524,195",34.0,26.0,36.0,NaN,NaN,NaN,4.5000,27.00,...,0.96,39.59,26.73,58.83,"8,261",287,43.990101,2.61,7.300000,65.600000
92,Laos,"7,275,560",32.0,24.4,35.7,NaN,NaN,NaN,1.5000,32.85,...,0.99,36.62,32.75,41.74,"19,127",166,22.816113,2.70,NaN,NaN
93,Latvia,"1,886,198",30.0,44.0,69.0,NaN,NaN,NaN,5.8000,36.60,...,0.86,8.06,2.76,17.68,"35,045","1,429",757.608692,1.51,4.833333,78.666667
94,Lebanon,"6,825,445",667.0,30.0,78.0,NaN,NaN,NaN,2.9000,38.20,...,1.00,17.28,13.86,20.78,"58,565","1,117",163.652333,1.72,15.983333,66.016667
95,Liberia,"5,057,681",53.0,19.0,53.0,NaN,NaN,NaN,0.8000,15.00,...,0.99,17.35,16.33,18.70,"3,221",128,25.308041,5.06,30.283333,79.833333
96,Libya,"6,847,352",4.0,28.8,78.2,NaN,NaN,NaN,3.7000,NaN,...,1.07,22.09,14.89,30.45,"33,018",NaN,NaN,2.25,NaN,NaN
97,Liechtenstein,"38,128",109.0,41.0,15.0,NaN,NaN,NaN,8.2000,NaN,...,0.99,NaN,NaN,NaN,"6,295",94,2465.379773,1.69,5.883333,78.966667
98,Lithuania,"2,722,289",43.0,45.0,71.0,NaN,NaN,NaN,7.3000,30.15,...,0.86,11.50,4.13,25.02,"53,641","1,875",688.758614,1.59,4.416667,80.900000
99,Luxembourg,"625,978",242.0,40.0,88.0,NaN,NaN,NaN,4.8000,23.60,...,1.01,20.52,17.20,24.91,"69,453","6,382",10195.246480,1.62,8.000000,84.183333
100,Madagascar,"27,691,018",48.0,19.6,38.5,NaN,NaN,NaN,0.2000,NaN,...,1.00,34.22,27.91,41.65,"12,550",77,2.780685,4.11,NaN,NaN
101,Malaysia,"32,365,999",99.0,30.0,78.0,3/18/2020,NaN,NaN,1.9000,22.20,...,1.03,23.73,12.95,34.24,"365,303","1,064",32.874005,2.50,33.866667,72.683333
102,Maldives,"540,544",1802.0,30.0,35.0,NaN,NaN,NaN,4.3000,NaN,...,1.23,26.70,26.61,26.89,"5,786","1,514",2800.882074,1.73,28.283333,75.066667
103,Mali,"20,250,833",17.0,16.3,44.0,NaN,3/17/2020,NaN,0.1000,20.00,...,0.95,44.55,34.83,56.55,"17,647",118,5.826921,5.92,NaN,NaN
104,Malta,"441,543",1380.0,43.0,93.0,NaN,NaN,NaN,4.7000,24.95,...,0.99,12.05,6.66,19.15,"14,859","3,471",7861.069024,1.55,15.600000,73.100000
105,Mauritania,"4,649,658",5.0,20.0,57.0,NaN,NaN,NaN,0.4000,23.85,...,0.93,19.71,16.50,24.08,"5,651",177,38.067316,3.86,30.883333,30.800000
106,Mauritius,"1,271,768",626.0,37.0,41.0,NaN,NaN,NaN,3.4000,21.70,...,0.97,30.56,17.36,48.62,"14,391","1,099",864.151323,1.75,28.200000,79.250000
107,Mexico,"128,932,753",66.0,29.0,84.0,NaN,NaN,NaN,1.5000,13.70,...,0.96,27.85,23.43,33.14,"1,274,175","1,009",7.825785,2.24,26.933333,42.400000
108,Moldova,"4,033,963",123.0,38.0,43.0,NaN,NaN,NaN,5.8000,25.55,...,0.95,17.13,9.21,29.88,"11,688",515,127.666020,1.57,10.500000,64.616667
109,Monaco,"39,242",26337.0,54.0,100.0,NaN,NaN,NaN,13.8000,NaN,...,0.95,NaN,NaN,NaN,"6,075","3,407",86820.243620,1.53,14.050000,62.233333
110,Mongolia,"3,278,290",2.0,28.0,67.0,NaN,NaN,NaN,7.0000,26.50,...,0.96,13.40,9.30,18.76,"13,637",470,143.367426,2.09,-9.333333,82.300000
111,Montenegro,"628,066",47.0,39.0,68.0,NaN,NaN,NaN,4.0000,NaN,...,0.99,17.60,10.70,26.47,"5,424",957,1523.725214,1.70,12.483333,67.783333
112,Morocco,"36,910,560",83.0,30.0,64.0,NaN,NaN,NaN,1.1000,23.40,...,0.97,10.39,7.51,13.73,"119,040",435,11.785245,2.11,18.966667,72.316667
113,Mozambique,"31,255,435",40.0,17.6,38.3,NaN,NaN,NaN,0.7000,18.65,...,0.96,17.81,14.60,22.13,"15,093",64,2.047644,4.89,NaN,NaN
114,Namibia,"2,540,905",3.0,22.0,55.0,NaN,NaN,NaN,2.7000,25.15,...,0.96,43.86,29.39,65.58,"14,368",942,370.734050,3.29,27.250000,49.683333
115,Nepal,"29,136,808",203.0,25.0,21.0,NaN,NaN,NaN,0.3000,24.10,...,0.95,100.75,94.59,107.64,"29,813",151,5.182448,2.12,18.850000,66.633333
116,Netherlands,"17,134,872",508.0,43.0,92.0,NaN,3/15/2020,3/15/2020,4.7000,25.05,...,0.98,26.00,22.74,30.36,"902,355","5,313",310.069430,1.78,8.983333,78.133333
117,New Zealand,"4,822,233",18.0,38.0,87.0,3/23/2020,NaN,NaN,2.8000,NaN,...,0.99,21.88,19.66,24.61,"204,671","3,530",732.026014,2.02,18.700000,79.250000
118,Nicaragua,"6,624,554",55.0,26.5,57.2,NaN,NaN,NaN,0.9000,NaN,...,0.95,22.37,18.46,27.37,"12,528",406,61.287145,2.42,NaN,NaN
119,Niger,"24,206,644",19.0,15.2,16.5,NaN,NaN,NaN,0.3000,9.40,...,1.01,24.86,21.83,28.33,"9,443",68,2.809146,6.95,NaN,NaN
120,Nigeria,"206,139,589",226.0,18.0,52.0,3/30/2020,NaN,NaN,0.3000,9.25,...,1.04,21.14,19.65,22.75,"446,543",215,1.042983,5.07,39.866667,18.216667
121,North Macedonia,"2,083,374",83.0,39.0,59.0,NaN,NaN,NaN,4.4000,NaN,...,0.99,22.14,15.16,30.89,"12,672",857,411.351970,1.60,9.833333,68.450000
122,Norway,"5,421,241",15.0,40.0,83.0,NaN,3/12/2020,3/12/2020,3.9000,22.25,...,1.02,26.13,23.51,29.49,"417,627","6,222",1147.707693,1.85,2.383333,79.366667
123,Oman,"5,106,626",16.0,31.0,87.0,NaN,NaN,NaN,1.6000,11.00,...,1.19,10.87,9.06,12.54,"76,609","1,636",320.368087,2.82,24.400000,55.966667
124,Pakistan,"220,892,340",287.0,23.0,35.0,NaN,NaN,NaN,0.6000,22.45,...,1.06,50.61,35.50,64.92,"284,214",134,0.606630,2.62,20.850000,53.016667
125,Panama,"4,314,767",58.0,30.0,68.0,NaN,NaN,NaN,2.3000,6.60,...,1.01,24.25,19.96,29.06,"68,536","1,543",357.609113,2.30,31.500000,77.850000
126,Paraguay,"7,132,538",18.0,26.0,62.0,NaN,3/10/2020,NaN,1.3000,18.10,...,1.01,19.10,12.70,26.11,"40,714",724,101.506645,1.90,36.933333,50.950000
127,Peru,"32,971,854",26.0,31.0,79.0,3/15/2020,NaN,NaN,1.6000,NaN,...,0.97,17.69,14.94,20.96,"228,989",671,20.350691,2.12,25.866667,74.850000
128,Philippines,"109,581,078",368.0,26.0,47.0,NaN,NaN,NaN,1.0000,25.75,...,1.01,44.52,27.04,67.56,"356,814",323,2.947589,3.02,30.900000,65.883333
129,Poland,"37,846,611",124.0,42.0,60.0,NaN,3/12/2020,3/12/2020,6.5000,28.05,...,0.94,16.16,9.98,25.90,"565,854","1,704",45.023846,1.35,7.050000,70.783333
130,Portugal,"10,196,709",111.0,46.0,66.0,NaN,3/19/2020,3/19/2020,3.4000,22.60,...,0.96,13.35,9.14,19.18,"236,408","2,661",260.966553,1.53,17.283333,75.616667
131,Qatar,"2,881,053",248.0,32.0,96.0,NaN,NaN,NaN,1.2000,NaN,...,3.41,7.87,5.37,9.21,"191,849","3,900",1353.671730,1.90,22.916667,56.983333
132,Republic of the Congo,"5,518,087",16.0,17.0,46.0,NaN,NaN,NaN,0.8000,NaN,...,1.00,34.27,33.07,35.86,8723,203,36.788112,4.59,NaN,NaN
133,Romania,"19,237,691",84.0,43.0,55.0,NaN,NaN,NaN,6.3000,29.80,...,0.95,18.80,10.65,30.05,"243,698","1,090",56.659606,1.35,11.566667,62.100000
134,Russia,"145,934,462",9.0,40.0,74.0,3/30/2020,NaN,NaN,8.2000,40.90,...,0.86,14.51,5.90,30.85,"1,637,892","1,414",9.689281,1.61,2.016667,85.466667
135,Rwanda,"12,952,218",525.0,20.0,18.0,3/21/2020,NaN,NaN,1.6000,NaN,...,1.00,25.79,17.88,37.30,"10,209",143,11.040580,3.87,26.533333,81.083333
136,Saint Kitts and Nevis,"53,199",205.0,34.8,32.9,NaN,NaN,NaN,2.3000,NaN,...,1.00,NaN,NaN,NaN,"1,032",1443,27124.570010,1.77,NaN,NaN
137,Saint Lucia,"183,627",301.0,34.0,19.0,NaN,NaN,NaN,1.3000,NaN,...,0.95,24.89,13.02,37.89,"1,992",681,3708.604944,1.75,27.083333,75.300000
138,Saint Vincent and the Grenadines,"115,000",307.0,33.0,78.0,NaN,NaN,NaN,2.6000,NaN,...,1.03,18.27,6.31,30.45,856,470,4086.956522,1.80,26.333333,76.533333
139,San Marino,"33,931",566.0,47.0,97.0,NaN,NaN,NaN,3.8000,NaN,...,0.94,NaN,NaN,NaN,"1,591","3,675",108308.036900,1.50,NaN,NaN

## Test Data

In [4]:
test_data=pd_JH_data[((pd_JH_data['country']=='US')|
                      (pd_JH_data['country']=='Germany'))&
                     (pd_JH_data['date']>'2020-03-20')]

In [5]:
test_data.head()

            date state  country  confirmed
15737 2020-03-21    no  Germany    22213.0
15777 2020-03-21    no       US    25600.0
16003 2020-03-22    no  Germany    24873.0
16043 2020-03-22    no       US    33280.0
16268 2020-03-23    no  Germany    29056.0

In [6]:
test_data.groupby(['country']).agg(np.max)

              date state  confirmed
country
Germany 2020-05-22    no   179710.0
US      2020-05-22    no  1600937.0

In [16]:
# %load ../src/features/build_features.py

import numpy as np
from sklearn import linear_model
reg = linear_model.LinearRegression(fit_intercept=True)
import pandas as pd

from scipy import signal


def get_doubling_time_via_regression(in_array):
    ''' Use a linear regression to approximate the doubling rate

        Parameters:
        ----------
        in_array : pandas.series

        Returns:
        ----------
        Doubling rate: double
    '''

    y = np.array(in_array)
    X = np.arange(-1,2).reshape(-1, 1)

    assert len(in_array)==3
    reg.fit(X,y)
    intercept=reg.intercept_
    slope=reg.coef_

    return intercept/slope


def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function (data structure kept)

        parameters:
        ----------
        df_input : pandas.series
        column : str
        window : int
            used data points to calculate the filter result

        Returns:
        ----------
        df_result: pd.DataFrame
            the index of the df_input has to be preserved in result
    '''

    degree=1
    df_result=df_input

    filter_in=df_input[column].fillna(0) # attention with the neutral element here

    result=signal.savgol_filter(np.array(filter_in),
                           window, # window size used for filtering
                           1)
    df_result[str(column+'_filtered')]=result
    return df_result

def rolling_reg(df_input,col='confirmed'):
    ''' Rolling Regression to approximate the doubling time'

        Parameters:
        ----------
        df_input: pd.DataFrame
        col: str
            defines the used column
        Returns:
        ----------
        result: pd.DataFrame
    '''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)



    return result




def calc_filtered_data(df_input,filter_on='confirmed'):
    '''  Calculate savgol filter and return merged data frame

        Parameters:
        ----------
        df_input: pd.DataFrame
        filter_on: str
            defines the used column
        Returns:
        ----------
        df_output: pd.DataFrame
            the result will be joined as a new column on the input data frame
    '''

    must_contain=set(['state','country',filter_on])
    assert must_contain.issubset(set(df_input.columns)), ' Erro in calc_filtered_data not all columns in data frame'

    df_output=df_input.copy() # we need a copy here otherwise the filter_on column will be overwritten

    pd_filtered_result=df_output[['state','country',filter_on]].groupby(['state','country']).apply(savgol_filter)#.reset_index()

    #print('--+++ after group by apply')
    #print(pd_filtered_result[pd_filtered_result['country']=='Germany'].tail())

    #df_output=pd.merge(df_output,pd_filtered_result[['index',str(filter_on+'_filtered')]],on=['index'],how='left')
    df_output=pd.merge(df_output,pd_filtered_result[[str(filter_on+'_filtered')]],left_index=True,right_index=True,how='left')
    #print(df_output[df_output['country']=='Germany'].tail())
    return df_output.copy()





def calc_doubling_rate(df_input,filter_on='confirmed'):
    ''' Calculate approximated doubling rate and return merged data frame

        Parameters:
        ----------
        df_input: pd.DataFrame
        filter_on: str
            defines the used column
        Returns:
        ----------
        df_output: pd.DataFrame
            the result will be joined as a new column on the input data frame
    '''

    must_contain=set(['state','country',filter_on])
    assert must_contain.issubset(set(df_input.columns)), ' Erro in calc_filtered_data not all columns in data frame'


    pd_DR_result= df_input.groupby(['state','country']).apply(rolling_reg,filter_on).reset_index()

    pd_DR_result=pd_DR_result.rename(columns={filter_on:filter_on+'_DR',
                             'level_2':'index'})

    #we do the merge on the index of our big table and on the index column after groupby
    df_output=pd.merge(df_input,pd_DR_result[['index',str(filter_on+'_DR')]],left_index=True,right_on=['index'],how='left')
    df_output=df_output.drop(columns=['index'])


    return df_output


if __name__ == '__main__':
    test_data_reg=np.array([2,4,6])
    result=get_doubling_time_via_regression(test_data_reg)
    print('the test slope is: '+str(result))

    pd_JH_data=pd.read_csv('data/processed/COVID_relational_confirmed.csv',sep=';',parse_dates=[0])
    pd_JH_data=pd_JH_data.sort_values('date',ascending=True).copy()

    #test_structure=pd_JH_data[((pd_JH_data['country']=='US')|
    #                  (pd_JH_data['country']=='Germany'))]

    pd_result_larg=calc_filtered_data(pd_JH_data)
    pd_result_larg=calc_doubling_rate(pd_result_larg)
    pd_result_larg=calc_doubling_rate(pd_result_larg,'confirmed_filtered')


    mask=pd_result_larg['confirmed']>100
    pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)
    pd_result_larg.to_csv('data/processed/COVID_final_set.csv',sep=';',index=False)
    print(pd_result_larg[pd_result_larg['country']=='Germany'].tail())

the test slope is: [2.]

FileNotFoundError: [Errno 2] File data/processed/COVID_relational_confirmed.csv does not exist: 'data/processed/COVID_relational_confirmed.csv'

In [17]:
test_data.groupby(['state','country']).agg(np.max)

                    date  confirmed
state country
no    Germany 2020-05-22   179710.0
      US      2020-05-22  1600937.0

In [20]:
#test_data.groupby(['state','country']).apply(get_doubling_time_via_regression)

In [21]:
def rolling_reg(df_input,col='confirmed'):
    ''' input has to be a data frame'''
    ''' return is single series (mandatory for group by apply)'''
    days_back=3
    result=df_input[col].rolling(
                window=days_back,
                min_periods=days_back).apply(get_doubling_time_via_regression,raw=False)
    return result

In [22]:

test_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed')

state  country
no     Germany  15737           NaN
                16003           NaN
                16268      7.417994
                16535      7.142035
                16801      8.012983
                17067      6.954407
                17333      6.501919
                17599      7.390371
                17865     10.136671
                18131     13.541893
                18396     13.781393
                18663     13.140681
                18929     12.037271
                19194     12.735506
                19462     16.052694
                19727     21.372453
                19993     27.427355
                20259     27.511936
                20524     21.792179
                20791     21.495848
                21057     26.565108
                21323     36.198404
                21588     43.982990
                21855     49.423444
                22121     74.043747
                22387     56.424411
                22652     42.468318
                22919     41.525988
                23184     49.898063
                23451     75.684007
                23717     78.000000
                23982     94.526338
                24249     82.985208
                24514     62.294061
                24781     70.294338
                25047     91.536840
                25313    112.903164
                25579    140.472457
                25845    148.285092
                26111    115.116625
                26377    104.285868
                26642    128.349094
                26909    167.535921
                27175    207.816845
                27440    279.484107
                27708    247.616282
                27973    166.275622
                28239    138.835878
                28504    139.648255
                28771    179.986624
                29035    265.319391
                29303    274.642705
                29569    267.092879
                29833    227.702584
                30100    266.129559
                30366    307.670485
                30633    274.967556
                30897    309.480047
                31164    441.111389
                31430    251.099125
                31695    184.808186
                31963    287.086082
                32228    289.519806
       US       15777           NaN
                16043           NaN
                16308      3.750666
                16575      4.232405
                16841      4.962575
                17106      4.538018
                17373      4.644812
                17639      5.403320
                17905      6.241792
                18170      7.017385
                18436      6.929161
                18702      7.306332
                18969      7.710462
                19234      7.861256
                19502      8.498367
                19767     10.071766
                20033     11.778042
                20298     12.160237
                20563     12.748897
                20831     12.980717
                21097     13.577614
                21362     15.623561
                21628     18.003717
                21894     20.585265
                22161     22.201514
                22426     21.706429
                22692     21.138488
                22958     21.084085
                23224     21.675339
                23490     24.868912
                23757     29.114791
                24022     29.596175
                24290     29.197132
                24554     29.332938
                24821     26.816384
                25087     26.215567
                25352     30.993838
                25619     38.528679
                25885     42.261456
                26151     39.200289
                26416     36.615120
                26682     33.702522
                26948     34.914299
                27215     41.457215
                27480     48.372969
                27748     50.999633
                28013     49.215037
                28279     46.713054
                28559     46.036888
                28811     48.870130
                29075     57.690308
                29343     69.337977
                29609     67.246934
                29873     64.396049
                30155     57.544472
                30408     54.065448
                30673     57.659194
                30937     66.728898
                31219     73.484901
                31472     72.128276
                31735     70.252673
                32004     63.917440
                32270     64.242754
Name: confirmed, dtype: float64

In [23]:
pd_DR_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(rolling_reg,'confirmed').reset_index()

In [24]:
pd_DR_result=pd_DR_result.rename(columns={'confirmed':'confirmed_DR',
                             'level_2':'index'})
pd_DR_result.head()

     state country  index  confirmed_DR
0  Alberta  Canada      0           NaN
1  Alberta  Canada    465           NaN
2  Alberta  Canada    701           NaN
3  Alberta  Canada    966           NaN
4  Alberta  Canada   1232           NaN

In [25]:
pd_JH_data=pd_JH_data.reset_index()
pd_JH_data.head()

   index       date    state       country  confirmed
0      0 2020-01-22  Alberta        Canada        0.0
1      1 2020-01-22       no  Korea, South        1.0
2      2 2020-01-22       no        Kosovo        0.0
3      3 2020-01-22       no        Kuwait        0.0
4      4 2020-01-22       no    Kyrgyzstan        0.0

In [26]:
pd_result_larg=pd.merge(pd_JH_data,pd_DR_result[['index','confirmed_DR']],on=['index'],how='left')
pd_result_larg.head()

   index       date    state       country  confirmed  confirmed_DR
0      0 2020-01-22  Alberta        Canada        0.0           NaN
1      1 2020-01-22       no  Korea, South        1.0           NaN
2      2 2020-01-22       no        Kosovo        0.0           NaN
3      3 2020-01-22       no        Kuwait        0.0           NaN
4      4 2020-01-22       no    Kyrgyzstan        0.0           NaN

## Filtering the data with groupby apply

In [27]:
from scipy import signal

def savgol_filter(df_input,column='confirmed',window=5):
    ''' Savgol Filter which can be used in groupby apply function 
        it ensures that the data structure is kept'''
    window=5, 
    degree=1
    df_result=df_input
    
    filter_in=df_input[column].fillna(0) # attention with the neutral element here
    
    result=signal.savgol_filter(np.array(filter_in),
                           5, # window size used for filtering
                           1)
    df_result[column+'_filtered']=result
    return df_result

In [28]:
pd_filtered_result=pd_JH_data[['state','country','confirmed']].groupby(['state','country']).apply(savgol_filter).reset_index()

In [29]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_result[['index','confirmed_filtered']],on=['index'],how='left')
pd_result_larg.head()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered
0,0,2020-01-22,Alberta,Canada,0.0,NaN,0.0
1,1,2020-01-22,no,"Korea, South",1.0,NaN,0.8
2,2,2020-01-22,no,Kosovo,0.0,NaN,0.0
3,3,2020-01-22,no,Kuwait,0.0,NaN,0.0
4,4,2020-01-22,no,Kyrgyzstan,0.0,NaN,0.0

## Filtered doubling rate

In [32]:
pd_filtered_doubling=pd_result_larg[['state','country','confirmed_filtered']].groupby(['state','country']).apply(rolling_reg,'confirmed_filtered').reset_index()

pd_filtered_doubling=pd_filtered_doubling.rename(columns={'confirmed_filtered':'confirmed_filtered_DR',
                             'level_2':'index'})

pd_filtered_doubling.tail()

      state   country  index  confirmed_filtered_DR
32447    no  Zimbabwe  31217              29.200000
32448    no  Zimbabwe  31452              30.266667
32449    no  Zimbabwe  31748              29.291667
32450    no  Zimbabwe  31984              33.402299
32451    no  Zimbabwe  32451              33.266667

In [33]:
pd_result_larg=pd.merge(pd_result_larg,pd_filtered_doubling[['index','confirmed_filtered_DR']],on=['index'],how='left')
pd_result_larg.tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
32447,32447,2020-05-22,no,Barbados,90.0,inf,90.4,225.000000
32448,32448,2020-05-22,no,Belarus,34303.0,35.553188,34301.0,35.783914
32449,32449,2020-05-22,no,Belgium,56511.0,213.041667,56485.4,239.568143
32450,32450,2020-05-22,no,Albania,981.0,114.274510,979.4,112.883721
32451,32451,2020-05-22,no,Zimbabwe,51.0,33.333333,51.4,33.266667

In [34]:
mask=pd_result_larg['confirmed']>100
pd_result_larg['confirmed_filtered_DR']=pd_result_larg['confirmed_filtered_DR'].where(mask, other=np.NaN)

In [35]:
pd_result_larg[pd_result_larg['country']=='Germany'].tail()

,index,date,state,country,confirmed,confirmed_DR,confirmed_filtered,confirmed_filtered_DR
31164,31164,2020-05-18,no,Germany,176551.0,441.111389,176984.6,269.621713
31430,31430,2020-05-19,no,Germany,177778.0,251.099125,177638.4,271.910483
31695,31695,2020-05-20,no,Germany,178473.0,184.808186,178306.6,268.749168
31963,31963,2020-05-21,no,Germany,179021.0,287.086082,179062.7,250.419013
32228,32228,2020-05-22,no,Germany,179710.0,289.519806,179818.8,236.824097

In [36]:
pd_result_larg.to_csv('../data/processed/COVID_final_set.csv',sep=';',index=False)